[Unit]
Description=PiXtend Control
After=network.target

[Service]
Type=simple
#User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/homecontrol/pixtend/pixcontrol.py
# or always, on-abort, etc
Restart=on-failure

[Install]
WantedBy=multi-user.target
